<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
</head>

<body>
  <h1>Login</h1>
  <form action="login" method="post">
    Username <br />
    <input type="text" name="username" required />
    <p></p>
    Password <br />
    <input type="password" name="password" required />
    <p></p>
    <button>Login</button>
  </form>

</body>

</html>